  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
body {
    overflow-x: hidden;
}
nav {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
.logo h3{
    text-align: center;
font-size: 30px;
font-weight: 700;
margin-left: 0.5rem;
}
.logo h3 span {
    color: #FF42A5 ;
}
nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}
nav ul li {
    list-style: none;
    cursor: pointer;
}
nav ul li:hover {
    color: #F948B2;
    transition: 0.4s;
}
.list-container {
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 1rem 1rem;
cursor:auto;
}
.list-container i {
    width: 2rem;
    margin-left: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 792px) {
nav {
    height: fit-content;
    flex-direction: column;
}
    .logo {
        padding: 2.2rem 0;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        font-size: 14px;
    }
    .list-container {
        margin-bottom: 1.2rem;
    }
}
/* nav Done */

header {
    width: 100vw;
    height: fit-content;
    background-image: url(./images/Group-14.png);
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 0 1rem;
}
.headerDesc h3{
    color: #0B0223;
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
}
.headerDesc h1{
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headerDesc ul li {
    list-style: none;
    color: #534C64;
font-size: 18px;
font-weight: 500;
margin-bottom: 0.4rem;
}
.headerDesc button:hover {
    background: var(--linear, linear-gradient(90deg, #000000 0%, #d6cdcd 100%));
    transition:all 1s;
}
.btn-1 {
    border-radius: 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 18px 22px;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}
.btn-2 {
    border-radius: 40px;
    background: #4EC5F7;
    padding: 18px 22px;
gap: 10px;
color: #FFF;
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
border: none;
cursor: pointer;
margin-top: 1rem;
}
header img {
    max-width: 700px;
    object-fit: contain;
}
@media only screen and (max-width: 1092px) {
    header {
        background-position: center bottom;
        justify-content: center;
        padding: 2rem 0;
        margin-bottom: 2rem;
        flex-direction:column-reverse;
        gap: 8rem;
        background-size: 580px;
    }
.headerDesc {
    margin: 2.8rem 0;
}
    }
    @media only screen and (max-width: 882px) {
        header img {
            max-width: 500px;
        }
        }
        @media only screen and (max-width: 582px) {
            header img {
                max-width: 380px;
            }
            .headerDesc h3{
                font-size: 32px;
            }
            .headerDesc h1{
                font-size: 76px;
            }
            .headerDesc ul li {
            font-size: 14px;
            }
            .btn-1 {
                border-radius: 30px;
                padding: 15px 18px;
                    font-size: 14px;
                text-transform: uppercase;
            }
            .btn-2 {
                border-radius: 30px;
                background: #4EC5F7;
                padding: 15px 18px;
            font-size: 14px;
            font-weight: 500;
            }
            }
        @media only screen and (max-width: 400px) {
            header img {
                max-width: 300px;
            }
            .headerDesc h3{
                font-size: 28px;
            }
            .headerDesc h1{
                font-size: 66px;
            }
            .headerDesc ul li {
            font-size: 12px;
            }
            }
    /* Header Done  */

.videos {
    height: fit-content;
    width: 100vw;
    padding: 0.2rem 0;
    text-align: center;
}
.videos h3{
    font-size: 40px;
    font-weight: 700;
}
.videos span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
}
.videos p {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 1rem 0;
    margin-bottom: 0.6rem;
}
.videoContainer {
    display: flex;
    gap: 1.8rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.imageContainer {
    position: relative;
    width: 100%;
}
.image{
    width: 280px;
    height: 350px;
    border-radius: 12px;
    border-radius: 16px;
    border-radius: 16px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.imageContainer:hover .image {
    opacity: 0.3;
}
.imageContainer:hover .imgHover {
    opacity: 1;
}
.imgHover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.imgHover i {
    cursor: pointer;
}
.imgHover p {
    font-weight: 700;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: pointer;
}
.imgHover p:hover {
text-decoration: underline;
font-weight: 600;
transition: 0.6s;
}
.videoContainer figure{
    width: 270px;
}
.videoContainer figcaption {
    margin-top: 0.4rem;
    color: #534C64;
font-size: 13.5px;
font-weight: 400;
line-height: 20px;
}
@media only screen and (max-width: 882px) {
   
    .videos p {
        font-size: 13px;
        padding: 0.6rem 0;
        margin-bottom: 0.1rem;
    }
    }
    /* video section complate */

.playSection {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    align-items: center;
    margin-bottom: 0.8rem;
    gap: 1rem;
}

.playImage {
    position: relative;
    margin-bottom: 4rem;
}
.playImage .imageOne{
    width: 640px;
    height: 580px;
}
.playImage .imageTwo{
position: absolute;
margin: -12rem;
bottom: 0;
width: 300px;
height: 340px;
}
.playdesc {
    margin-left: 4rem;
}
.playdesc h3 {
font-size: 44px;
font-weight: 700;
line-height: 60px;
}
.playdesc p {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
}
.playdesc span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 1188px) {
    .playSection{
        flex-wrap: wrap;
    }
    .playImage .imageOne{
        width: 520px;
        height: 490px;
    }
    .playImage .imageTwo{
        position: absolute;
        bottom: 3rem;
        width: 240px;
        height: 280px;
        }
    }
@media only screen and (max-width: 788px) {
.playSection {
    justify-content: center;
}
    .playdesc h3 {
        font-size: 35px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 0.8rem;
        }
        .playdesc p {
            font-size: 14px;
            line-height: 20px; 
        }

    .playImage .imageOne{
        width: 380px;
        height: 340px;
    }
    .playImage .imageTwo{
        position: absolute;
        width: 180px;
        height: 220px;
        margin: -8rem;
        }
    }
@media only screen and (max-width: 560px) {
.playSection {
    gap: 0.4rem;
}
.playdesc {
    margin-top: -2rem;
}
    .playdesc h3 {
        font-size: 30px;
        margin-bottom: 0.2rem;
        line-height: 29px;
        }
        .playdesc p {
            font-size: 12px;
            line-height: 20px; 
        }
    .playImage .imageOne{
        width: 310px;
        height: 270px;
    }
    .playImage .imageTwo{
        position: absolute;
        width: 160px;
        height: 180px;
        margin: -8rem;
        }
    }
    
    .gameList {
        height: fit-content;
        width: 80%;
        margin-top: 7rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 2rem;
    }
    .gameList img {
width: 50px;
height: 50px;
        margin-right: 6px;
    }
    .game {
        display: flex;
        align-items: center;
font-size: 16px;
font-weight: 600;
    padding: 8px 10px;
}
    .game:hover {
        border-radius: 50px;
background: #FFF;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border: 1px solid #FF42A5;
transition: all 0.4s;
    }


    @media only screen and (max-width: 760px) {
        .game {
    font-size: 10px;
        }
        .gameList {
            height: fit-content;
            width: 100%;
        }
        .gameList img {
            width:34px;
            height: 35px;
            margin-right: 6px;
                }
        }